@model List<Product>
<div>
    <h1>Liste des produits</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Prix</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Lien</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach(Product product in (ViewData["products"] as List<Product>))*@
            @*@foreach (Product product in ViewBag.Products)*@
        @foreach (Product product in Model)
        {
            <tr>
            <th scope="row">@product.Id</th>
            <td>@product.Title</td>
            <td>@product.Price €</td>
            <td>@product?.Category?.Name</td>
            <td><a asp-action="Detail" asp-controller="Product" asp-route-id="@product.Id">Detail</a></td>
        </tr>
        }
    </tbody>
</table>