@page "/"
@using CoursDemosBlazor.Components

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<BoldTextComponent Text="Mon texte"></BoldTextComponent>

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter/>

<h4>@MaChaineCascading</h4>


<img src="/images/my-avatar.png"/>

@code {
    [CascadingParameter]
    protected string MaChaineCascading { get; set; }
}