@*@{
    string message = "un message";
    Layout = "_CustomLayout";
    List<string> contacts = new List<string>() { "toto", "tatat", "titi" };
    bool test = false;
}
<h1>@message</h1>
@foreach(string s in contacts) {
    <div>@s</div>
}*@
@*@Html.ActionLink("le lien", "Index", "Home")*@
@*<a asp-action="Index" asp-controller="Home">le lien</a>
@if(test) {
    <div>test vrai</div>
}else {
    <div>faux</div>
}*@
@model List<Contact>
<div>
    <h1>Liste des contacts</h1>
    @*@foreach(Contact contact in (ViewData["contacts"] as List<Contact>))*@
    @*@foreach (Contact contact in ViewBag.Contacts)*@
    @foreach (Contact contact in Model)
    {
        <div>@contact.Name<a asp-action="Detail" asp-controller="Contact" asp-route-id="@contact.Id">Detail</a></div>
    }
</div>