<form asp-action="SubmitForm" asp-controller="Category" method="post" class="container">
    <div class="row m-1 justify-content-center">
        <input type="text" name="Name" placeholder="Le nom de la catégorie" class="form-control col p-1" />
    </div>

    <div class="row m-1 justify-content-center">
        <button type="submit" class="col btn btn-success p-1">Valider</button>
    </div>
</form>