<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Vente terminée avec succès</h2>
        <p>Vous pouvez retrouver le détails de vos commandes dans votre profil</p>
        <hr />
        <p>Merci beaucoup !</p>
    </div>
</div>