@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">
        @foreach (Book book in Model)
        {
            <div class="card col-3">
                <div class="card-header">
                    <div class="col-9">
                        @book.Title
                    </div>
                    <div class="col-3"></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <img class="col" src="~/@book.Poster" alt="Card image cap">
                        <div class="col">
                            <h5 class="card-title">@book.Title</h5>
                            <p class="card-text">@book.Description</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Ajouter au panier</a>
                </div>
            </div>
        }
    </div>

</div>
