.banner {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(40, 44, 52);
    color: white;
    border-bottom: 2px solid rgb(226, 13, 23);
}

.banner img {
    height: 150px;
}

.description {
    transform: translateX(40%);
}